@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:100,300,300i,400,700,700i,900&subset=latin-ext');

body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #f7f7f7;
    font-family: "Lato", sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: none;
    overflow-x: hidden;
    overflow-y: no-content;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-weight: 400;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.bg-claro {
    background-color: #fff !important;
}

.padding-top-120px {
    padding-top: 120px;
}

.padding-top-bottom-120px {
    padding-top: 120px;
    padding-bottom: 120px;
}

blockquote {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-left: 5px solid #e2e2e2;
    font-size: 18px;
    line-height: 22px;
}

.contato-head {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: none;
}

.contato-subtitle {
    margin-top: -59px;
    padding-top: 0px;
    padding-bottom: 90px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, .11);
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: lowercase;
    font-size: 45px;
    letter-spacing: 0px;
}

.quote {
    margin-bottom: 10px;
    padding-bottom: 90px;
    border-width: 3px;
    background-image: url(../img/assinatura_hygorrasec.png);
    background-position: 21px 89%;
    background-size: 170px;
    background-repeat: no-repeat;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    letter-spacing: 1px;
}

.footer {
    position: relative;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #1a1a1a;
}

.footer-social {
    position: relative;
    width: 100%;
    text-align: center;
}

.footer-texto {
    margin-top: 50px;
    color: #c7c7c7;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-texto-span {
    text-decoration: underline;
}

.jquery-bg-video-01 {
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.jquery-bg-video-02 {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact-button {
    position: relative;
    display: block;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 3px;
    background-color: #2a2a2a;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    color: #fff !important;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.label-field {
    margin-bottom: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.w-input,
.w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.w-input:focus {
    outline: none;
}

.w-input.text-area {
    height: 120px;
}

.text-field {
    margin-bottom: 15px;
    padding: 0px 0px 6px;
    border-style: none none solid;
    border-bottom-width: 1px;
    border-bottom-color: #e4e4e4;
    background-color: #f7f7f7;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    color: #1a1a1a;
    font-size: 12px;
    line-height: 18px;
}

#contact-form {
    margin-bottom: 20px;
}

.menu-container {
    float: none;
    position: relative;
    /* display: none; */
    background-color: #000;
}

.main-logo {
    position: relative;
    float: left;
    padding-left: 10px;
}

.main-logo img {
    width: 195px;
    height: auto;
    padding-top: 10px
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none;
    margin: 0 -15px;
}

ul.menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

ul.menu>li {
    position: relative;
}

ul.menu a {
    display: block;
    padding: 12px 15px;
}

ul.menu li a {
    font-family: Lato, sans-serif;
    font-size: 11px;
    line-height: 23px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 2px;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}

ul.menu>li>a:hover {
    border-style: none none solid;
    border-width: 3px;
    border-color: rgba(0, 0, 0, .1);
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.navbar-right {
    overflow-y: visible;
    float: right !important;
}

ul.menu>li>a {
    color: #3d3d3d;
}

ul.menu>li {
    display: inline-block;
}
